<a href="https://colab.research.google.com/github/IrfanKpm/machine-learning-diaries/blob/main/NLP/_001_regEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
txt1 = "The rain in Spain"
txt2 = "apple,banana;cherry:date"
txt3 = "apple:banana;cherry"

x1 = re.search("[a-m]",txt1)
x2 = re.findall("[a-m]",txt1)
x3 = re.split("a",txt1)
x4 = re.split(r"[:,]",txt2)
x5 = re.sub(r';', '-', txt2)
x6 = re.sub(r"[:;]","-",txt3)

print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)

<re.Match object; span=(1, 2), match='h'>
['h', 'e', 'a', 'i', 'i', 'a', 'i']
['The r', 'in in Sp', 'in']
['apple', 'banana;cherry', 'date']
apple,banana-cherry:date
apple-banana-cherry

In [ ]:
txt1 = "abcdefghijklmnopq"

x1 = re.findall(r"[e-l]",txt1)
x2 = re.findall(r"[^e-l]",txt1)

print(x1)
print(x2)

['e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
['a', 'b', 'c', 'd', 'm', 'n', 'o', 'p', 'q']

In [ ]:
txt1 = "Hello123World"
txt2 = "john@example.com"

x1 = re.findall(r'[0-9]',txt1)
x2 = re.findall(r'[^0-9]',txt1)
x3 = re.findall(r'[^@]',txt2)

print(x1)
print(x2)
print(x3)

['1', '2', '3']
['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']
['j', 'o', 'h', 'n', 'e', 'x', 'a', 'm', 'p', 'l', 'e', '.', 'c', 'o', 'm']

In [ ]:
txt1 = "hello hero helo helo"
txt2 = "hello world"

l1 = ["hello world","abcde world","hello bro"]

x1 = re.findall(r'he..o',txt1)
x2 = re.findall(r'h..o',txt1)
x3 = re.findall(r'..ll.',txt2)
x4 =  [s for s in l1 if re.findall(r'^hello', s)]

print(x1)
print(x2)
print(x3)
print(x4)

['hello']
['hero', 'helo', 'helo']
['hello']
['hello world', 'hello bro']

In [ ]:
txt1 = "I am going to the gym and then I will swim."

x1 = [s for s in txt1.split() if re.findall(r'm$', s)]
x2 = [s for s in txt1.split() if re.findall(r'ym$', s)]

print(x1)
print(x2)

['am', 'gym']
['gym']

In [ ]:
txt1 = "foxy proxy"

x1 = [s for s in txt1.split() if re.findall(r'y$', txt1)]
# Find words that start with 'f' and end with 'y'
x2 = [s for s in txt1.split() if re.findall(r'^f.*y$', s)]

print(x1)
print(x2)

['foxy', 'proxy']
['foxy']

In [ ]:
# Sample text containing numbers
txt = "Time values include 05, 12, 27, 42, 58, and 60."

# Find all two-digit numbers between 00 and 59
matches = re.findall(r'[0-5][0-9]', txt)

print("Matches:", matches)

Matches: ['05', '12', '27', '42', '58']

In [ ]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

## **exercise problem**

In [ ]:
# Find all two-digit numbers between 10 - 27

txt = "Values are 09, 10, 15, 27 , 29, 30, 45."

x = re.findall(r"\b[1-2][0-7\b]",txt)
print(x)

['10', '15', '27']

In [ ]:
# Validate Email Addresses

txt = "Contact us at info@example.com, support@test-site.org, or sales@my-email.com."
matches = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b', txt)
print("Matches:", matches)

Matches: ['info@example.com', 'support@test-site.org', 'sales@my-email.com']

In [ ]:
# Extract Words Starting with a Capital Letter
txt = "Alice went to Wonderland and met the Mad Hatter."
matches = re.findall(r'\b[A-Z][a-z]*\b', txt)
print("Matches:", matches)

Matches: ['Alice', 'Wonderland', 'Mad', 'Hatter']

In [ ]:
# Validate a Phone Number Format ( XXX-XXX-XXXX )
txt = "Call me at 123-456-7890 or 987-654-3210."
matches = re.findall(r'\b\d{3}-\d{3}-\d{4}\b', txt)
print("Matches:", matches)

Matches: ['123-456-7890', '987-654-3210']

In [ ]:
# Extract All Hashtags
txt = "Follow us on social media #fun #coding #regex."
matches = re.findall(r'#\w+', txt)
print("Matches:", matches)

Matches: ['#fun', '#coding', '#regex']

In [ ]:
# Find Dates in DD/MM/YYYY Format
txt = "Important dates are 12/05/2021, 30/11/2020, and 01/01/2022."
matches = re.findall(r'\b\d{2}/\d{2}/\d{4}\b', txt)
print("Matches:", matches)

Matches: ['12/05/2021', '30/11/2020', '01/01/2022']

In [ ]:
# Find Words That Contain Digits
txt = "Order IDs are A123, B456, C789, and AB12CD."
matches = re.findall(r'\b\w*\d\w*\b', txt)
print("Matches:", matches)

Matches: ['A123', 'B456', 'C789', 'AB12CD']